# Dépendances Node.js
node_modules/
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement Python
venv/
manga-ocr/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env

# Base de données & Uploads
*.sqlite3
sensai.db
manga-ocr/sensai.db
uploads/
manga-ocr/uploads/

# OS
.DS_Store
Thumbs.db

# Fichiers de certification et annexes
*.xlsx
*.pdf
présentation.txt
projetFinDannee.json
pfd
test_apps_script.js
